.content-container {
	display: flex;
}

.main-content {
	flex: 1 0;
	position: relative;
}

#introHidden {
	display: none;
}

#resultsSection {
	display: none;
}

.inputBoxes {
	font-size: 16px;
	vertical-align: 15px;
	margin-left: 10px;
	color: white;
	background-color: black;
	border-color: #FFFFFF;
}

table {
	gap: 5px;
	margin: auto;
	line-height: 1.4;
}

.sidebar {
	background-color: rgba(0, 0, 60, 0.5);
	overflow: auto;
	height: 100%;
	width: 380px;
}